body {
    font-family: Arial;
}

.title{
    color: #dde2e5;
    background-color: #374965;
    height: 50px;
    width: 100%;
    font-size: larger;
    vertical-align: middle;
    padding-left: 10px;
}

#parent {display: table;}

#child {
    display: table-cell;
    vertical-align: middle;
}

tr:hover {background-color: #dde2e5;}



th {
    background-color: #253e5f;
    color: white;
    white-space: nowrap;
}

td {
    font-size: small;
    white-space: nowrap;
}
.table_div{overflow-x:auto;}

.search_box {
    width: 30%;
}

.search_header{
    background-color: #f4f1ee;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    padding-left: 20px;
}