<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>
<form method="POST">
{{ form.search_field.label }}: {{ form.search_field }}
</form>
<form method="POST">
{{ form.search_data.label }}: {{ form.search_data }}
{{ form.sub }}
</form>

<div>{% if search_result %} {{ search_result }} {% endif %}</div>

<script>
    $(function() {
        $.ajax({
            url: '/_autocomplete'
            }).done(function (data){
                $('#search_data_complete').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        });

    $(function() {
    $('#amir').change(function() {
        this.form.submit();
    });
});
</script>

